.breadcrumb-parent {
    background-image: url("../images/image_top.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.breadcrumb-parent h2 {
    font-weight: 800;
    margin-bottom: 25px;
    font-family: var(--heading-font);
}

.breadcrumb-item a {
    text-decoration: none;
    color: var(--paragraph-color);
}

.breadcrumb-item.active {
    color: var(--main-color);
    font-weight: 800;
}


/* ========= Products ========*/

.ltn__search-widget form {
    position: relative;
}

.ltn__search-widget .form-control {
    height: 60px;
    background-color: var(--sec-bag);
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    border-radius: 0;
}

.ltn__search-widget .form-control:focus {
    box-shadow: 0 0 0;
    border: 1.5px solid var(--main-color);
}

.ltn__search-widget button {
    position: absolute;
    right: 0;
    height: 100%;
    padding: 0 20px;
    color: var(--sec-bag);
    border: 1px solid;
    background-color: var(--main-color);
    border-color: var(--main-color);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}


/* === Product ===*/

.card-product {
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-product .card-body {
    padding-left: 1.7rem;
    padding-top: 1.5rem;
}

.card-product .card-title {
    font-weight: 800;
}